*{
    box-sizing: border-box;
    margin: 50;
    padding: 100;
    background-image: url(https://i.pinimg.com/736x/32/28/1e/32281eecca763b72910985d7dd6fc12f.jpg);
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.container span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
}

.container span::before{
    content: '';
    position: absolute;
    background: url(https://static.labiennale.org/files/styles/full_screen_slide/public/cinema/2023/Schede_film/970x647/Venezia_80/priscilla.jpg?itok=BnNYQKzg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 10s;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.container span:hover::before{
    transition: 0s;
    opacity: 1;
    width: 100%;
    height: 100%;
}